@model List<CashFlow.Core.Entities.Expense>

<nav class="actionnav">
    <a asp-action="Create">New</a>
    <a asp-action="Delete">Delete</a>
</nav>
<main class="main-content">
    @{
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-data">ID</div>
                <div class="flex-data">Description</div>
                <div class="flex-data">Amount</div>
                <div class="flex-data">Due Date</div>
            </div>

            @foreach (var expense in Model)
            {
                <div class="flex-row">
                    <div class="flex-data">@expense.Id</div>
                    <div class="flex-data">@expense.Description</div>
                    <div class="flex-data">@expense.Amount</div>
                    <div class="flex-data">@expense.DueDate</div>
                    <a asp-action="Delete" asp-route-id="@expense.Id">Delete</a> @*temp solution*@
                </div>
            }

        </div>
    }
</main>